Assignment_1/.settings/
Assignment_4/.settings/
AssignmentUpto4/.settings/
Exception_Handling/.settings/
VehicleAssignment2/.settings/
FruitBasket/.settings/
Assignment_1/bin/
Assignment_4/bin/
Exception_Handling/bin/
FruitBasket/bin/
AssignmentUpto4/bin/
VehicleAssignment2/bin/
.classpath
.project
# Ignore .settings folders in every subdirectory
.settings/

# Ignore bin folders in every subdirectory
bin/